/.vscode
/1704266132.webp
/About Missing values.png
/age vs num.png
/Andrew Abela guide for plotting.pdf
/Baye's Theorm.png
/code.png
/Data preprocessing steps.png
/FYP 2020-2024
/Mastring Pandas Libarary
/New Project
/projects
/python.py
/Saved Models
/Screenshot 2023-12-05 035932.png
/Screenshot 2023-12-05 040534.png
/Screenshot 2023-12-05 041403.png
/Unsupervised_Learning
/use AI to do EDA.txt